@import "../../../../../styles/scss/mixin";
.starRating {
  display: flex;
  justify-content: space-around;
}

.Button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.count {
  background-color: transparent;
  border: none;
  outline: none;
  height: 20px;
  
}

.star {
  font-size: 40px;
  margin-right: 10px;
}

.smallStar {
  font-size: 15px;
  margin-right: 10px;
}

.on {
  color: rgb(245, 159, 0);
}

.off {
  color: #ccc;
}
