@import "../../../../styles/scss/mixin";
@import "../../../../styles/scss/variables";

.usermenu {
  color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.usermenu:hover {
  color: $primary;
  background-color: $grey;
}

.dropdown{
  background-color: #1a1b1e;
  border-Color: #27ca7e77;
}
