@import "../../../styles/scss/mixin";
.icon {
  color: "green";
}

.header {
  margin-bottom: 10px;
  // display: flex;
  justify-content: center;
  margin: 0 auto;
}

.buttonHover:hover {
  color: "green";
}

.subHeader {
  align-items: center;
  justify-content: center;
}


