@import "../../../styles/scss/mixin";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.headertitle {
    font-family: Varela Round;
    font-weight: 600;
    font-size: 22px;
}