@import "../../../styles/scss/mixin";
@import "../../../styles/scss/variables";
.wrapper {
  background: linear-gradient(
    90deg,
    rgba(#73c8a9, 0.8) 30%,
    rgba(#73c8a9, 0.5) 50%,
    rgba(#73c8a9, 0.2) 80%
  );
}
