$white: #ffffff;
$aqua: #61afef;
$black: #000000;
$primary: #27ca7d;
$primary3: #27ca7e28;
$primary2: #27ca7e91;
$orange: #e99424;
$pink: #f74b81;
$blue: #67bcee;
$lightgray: #e9ecf4;
$darkblue: #253d4e;
$darktheme: #1a1b1e;
$lightgrey: #a7a7a7;
$darkgrey: #353a3c;
$ocean: #10538f;
$dark: #1a1b1d;
$dark2: #25262b;
$grey: #232427;
$bluehover: #1971c233;
$greenhover: #27ca7d33;