$white: #ffffff;
$aqua: #61afef;
$black: #000000;
$primary: #27ca7e;
$primary2: #27ca7ee1;
$primary3: #20a86991;
$primary4: #156b43;
$primary5: #27ca7e54;
$orange: #e99424;
$pink: #f74b81;
$blue: #67bcee;
$lightgray: #e9ecf4;
$darkblue: #253d4e;
$darktheme: #1a1b1e;
$lightgrey: #adadad;
$darkgrey: #353a3c;
$ocean: #0f83e9;
$ocean2: #0091ff40;
$dark: #1a1b1d;
$dark2: #25262b;
$grey: #232427;
$bluehover: #1971c233;
$greenhover: #27ca7d33;
$blurcolor: #80808077;
$blacktest: #262626fa;
$cardbackground: #25262bb5;
$lightercardbackground: #25262b;