@import "../../../styles/scss/mixin";
@import "../../../styles/scss/variables";
.card {
  // width: 280px;
  // height: 400px;
  background-color: #25262bb5;
  position: relative;
  transition: 0.15s ease-out;
}

.card:hover {
  border: 2px solid $primary !important;
  transform: translateY(-2px);
}

.cornerRibbon {
  /* Displayed at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;
  /* Size */
  height: 4rem;
  width: 4rem;
  /* Hide the part of its children which is displayed outside */
  overflow: hidden;
}

.cornerRibbonChild {
  /* Position */
  left: 1rem;
  position: absolute;
  top: 1rem;
  /* Size */
  height: 1rem;
  width: 5.656rem;
  /* Displayed diagonally */
  transform: translate(-32px, -5px) rotate(-45deg);
  /* Background color */
  // background-color: #d1d5db;
  /* Centerize the text content */
  text-align: center;
}

.cornerRibbonChildHot {
  background-color: $pink;
}

.cornerRibbonChildSale {
  background-color: $aqua;
}

.cornerRibbonChildNew {
  background-color: $primary;
}

.rightSection {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.nameNavigate{
  line-height: normal;
}

.nameNavigate:hover {
  line-height: normal;
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
}

.buttonAdd {
  width: 7.6vw;
  height: 2.1vw;
}